@tailwind base;
@tailwind components;
@tailwind utilities;



@font-face {
  font-family: 'Inter';
  src: url('/path-to-font/Inter-Regular.ttf') format('truetype');
  /* Additional font styles (e.g., font-weight, font-style) */
}

.clip-polygon {
  clip-path:  polygon(0 0,100% 0,77% 100%,0% 100%);
  background-color: #138999; /* You can set your desired background color */
}

.hide{
  display:none;

}

@media (min-width:1440px) {
  .hide{
    display:flex;
  }
  }

  .show{
    display:flex;
  }
  
  @media (min-width:1440px) {
    .show{
      display: none;
    }
    
  }